.post-wrapper {
  padding: 0.25em 1.5em;
}

.post-entry {
  display: flex;
  flex-direction: column;
  max-width: min(30em, 100svw);
  width: 100%;
  overflow: hidden;
  gap: 0.25em;
  margin: 1px;
  text-decoration: none;
  color: inherit;
  background-color: var(--background);
}

.post-entry:hover .post-title {
  background-size: 100% 0.1em, 0 0.1em;
}

.post-title {
  padding: unset;
  font-size: 1em;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: fit-content;
  transition: text-decoration 0.3s ease;
  background: linear-gradient(
    to right,
    var(--foreground),
    var(--foreground),
    var(--background)
  );
  background-size: 0 0.1em, 100% 0.1em;
  background-position: 0 100%, 100% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease;
}

.post-date {
  color: var(--paragraph-color);
  font-size: 0.65em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.post-title-container {
  display: flex;
  gap: 0.5em;
  width: 100%;
}

.post-description {
  color: var(--paragraph-color);
  font-size: 0.75em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
